body{
	height :1210px;
	width : px;
background-image:linear-gradient(#C63D0F, #8e0e00, #1f1c18); 
}

#nav_bar_line3{
background-color:#ffffcc;
position: absolute; 
top: 140%; 
height: 0.7%; 
width: 100%; 
left: 0px;
}
#nav_bar_line2{
background-color:#ffffcc;
position: absolute; 
top: 201px; 
height: 0.7%; 
width: 100%; 
left: 0px;
}
#nav_bar_line1{
background-color:#ffffcc;
position: absolute; 
top: 170px; 
height: 0.7%; 
width: 100%; 
left: 0px;
}
#wrechtextU{
background-color:white;
position: absolute; 
top: 32px; 
height: 0.2%; 
width: 38.3%; 
left:30.8%;
}
#wrechtextL{
background-color:white;
position: absolute; 
top: 109px; 
height: 0.2%; 
width: 38.3%; 
left:30.8%;
}
#wrechtextMU{
background-color:white;
position: absolute; 
top: 38px; 
height: 0.2%; 
width: 37.8%; 
left: 31%;
}
#wrechtextML{
background-color:white;
position: absolute; 
top: 103px; 
height: 0.2%; 
width: 37.8%; 
left: 31%;
}
#nav_id{
text-align:center;
font-size:1.5em;
margin-top:3em;
}
a:hover{
color:#047bd5;
}
a{	
text-decoration:none;
color:yellow;
}
#Experience_Divinity{
font-size:43pt;
color:#047bd5;
text-align: center;
}

#central_div{
position: absolute; 
top: 33%; 
height: 80%; 
width: 100%; 
left: 0px;
}
#imgmain{
position:absolute;
border-style:solid;
border-width:1px;
padding:2px;
border-color:white;
margin-top:2em;
margin-left:17%;
margin-right:16%;
}
#imgmain:hover{
position:absolute;
border-style:solid;
border-width:1px;
padding:2px;
border-color:red;
margin-top:2em;
margin-left:17%;
margin-right:16%;
}

#footer{
background-color:"white";
height:300px;
width:100%;
position:absolute;
top:140%;
}
#What_We_Do{
height:300px;
width:29%;
float:left;
}
#opening_heading{
color:yellow;
text-align:center;
}
#p_id1{
color:#EFEFEF;
text-align:center;
}
#p_id2{
color:#EFEFEF;
text-align:center;
}
#address_div{
height:300px;
width:33%;
float:left;
}
#address{
color:yellow;
text-align:center;
}
#GglMp1{
margin-left:300px;
}